.center {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: monospace;
}

#input-button {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: green;
    width: 10em;
    height: 2em;
    font-size: 1.5em;
    margin-top: 10px;
}

#input-text {
    font-family: monospace;
    font-size: large;
}

#status-message {
    font-size: x-large;
    margin-top: 10px;
    display: inline-block;
}